#debugAPP_DEBUG=true#sql debug打印SQL_DEBUG=true#服务提供端口SERVER_LISTEN="http://0.0.0.0:8789"#慢业务端口SLOW_PROCESS_STATUS=SLOW_SERVER_LISTEN=http://0.0.0.0:8790#SSE服务端消息推送SSE_SERVER_LISTEN = "http://0.0.0.0:8791"SSE_STATUS = ""#http-chunk服务端消息推送CHUNK_SERVER_LISTEN = "http://0.0.0.0:8792"CHUNK_STATUS = ""#定时任务CRONTAB_STATUS=#数据库链接DB_CONNECTION=mysqlDB_HOST=127.0.0.1DB_PORT=3306DB_DATABASE=server_adminDB_USERNAME=rootDB_PASSWORD=rootDB_PREFIX=la_#SESSION存储引擎SESSION_DRIVER=redis#缓存前缀CACHE_PREFIX=report_admin#SESSION存储前缀CACHE_SESSION_PREFIX=report_admin_session#redis配置REDIS_CONNECTION=defaultREDIS_HOST=127.0.0.1REDIS_PASSWORD=REDIS_PORT=6379REDIS_DB=0#redis队列配置REDIS_QUEUE_STATUS=REDIS_QUEUE_PREFIX=report_admin_queueREDIS_QUEUE_CONNECTION=defaultREDIS_QUEUE_HOST=127.0.0.1REDIS_QUEUE_PASSWORD=REDIS_QUEUE_PORT=6379REDIS_QUEUE_DB=0#密码凭证UNIQUE_IDENTIFICATION = "8727"